---
import { Icon } from "astro-icon/components";
const { subject, description, details, url, urlText } = Astro.props;

const hasLink = url ? true : false;
---

<section class="mb-12 p-8 border border-gray-300 rounded-md shadow-solid container max-w-prose">
    <h1 class="text-3xl font-brand font-medium">{subject}</h1>
    <hr class="my-4">
    <h2 class="text-lg my-4 leading-relaxed italic text-slate-700">{description}</h2>
    <p class="max-w-prose"> {details}</p>

    { hasLink ? <div class="flex"><p class="my-4"><a href={`${url}`} class="hover:underline text-pink-600 leading-none align-middle">
        <Icon name="news" class="inline text-xl mr-1"/>
        {urlText}</a></p></div> : '' }
</section>