---
import BlogLayout from '../../layouts/Layout.astro'
export async function getStaticPaths({paginate}) {
    let allPosts = await Astro.glob('./*.md');
    let sortedPosts = allPosts.sort((a,b) => new Date(b.date).valueOf() - new Date(a.date).valueOf());
    return paginate(sortedPosts, {pageSize: 5});    
}

const title = "Case studies"
const {page} = Astro.props;
---
<BlogLayout title={title}>
    <div>
        <h1 class="font-brand text-4xl mt-6 mb-4">{title}</h1>
        <ul>
            {page.data.map((post) => (
                <li class="mb-4">
                    <a class="text-xl underline font-bold" href={post.url}> {post.frontmatter.title} </a><br/>
                    <p class=""> {post.frontmatter.description} </p>
                </li>
            ))}
        </ul>
    </div>
</BlogLayout>